/* old version (5px width)

body::-webkit-scrollbar-track {
     background-color: black;
}

*::-webkit-scrollbar-track {
     background-color: transparent;
}

*::-webkit-scrollbar-thumb {
     background-color: #cfc9c5;
     border-radius: 1px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar:vertical {
     width: 5px;
}
*::-webkit-scrollbar:horizontal {
     height: 5px;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-button {
     height: 0;
     width: 0;
}
*/
body::-webkit-scrollbar-track {
     background-color: black;
}

*::-webkit-scrollbar-track {
     background-color: transparent;
}

*::-webkit-scrollbar-thumb:not(body) {
     background-color: #cfc9c5;
     border-radius: 2px;
}
body::-webkit-scrollbar-thumb {
     background-color: #cfc9c5;
     border-radius: 1px;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar:vertical {
     width: 4px;
}
*::-webkit-scrollbar:not(body),
*::-webkit-scrollbar:vertical:not(body) {
     width: 2px;
}

body::-webkit-scrollbar:horizontal {
     height: 4px;
}
*::-webkit-scrollbar:horizontal:not(body) {
     height: 2px;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-button {
     height: 0;
     width: 0;
}
