.dark {
     --surface-primary: #090909;
     --surface-secondary: black;
     --surface-tertiary: black;
     --sidebar-surface-primary: var( --surface-secondary)
     --sidebar-surface-secondary: var(--surface-primary);
     --main-surface-secondary: var(--surface-primary);
     --main-surface-tertiary: var(--surface-primary);
}

main {
     border-top-left-radius: 24px;
     border-bottom-left-radius: 24px;
}

.dark .dark\:bg-gray-800,
.dark .dark\:bg-gray-900,
.dark .btn-neutral,
div.sticky.bg-token-main-surface-primary,
pre div.bg-gray-950,
main {
     background-color: var(--surface-secondary);
}

body,
nav,
div.sticky,
h3.font-medium.text-ellipsis.overflow-hidden,
.bg-token-main-surface-primary,
div.absolute.bottom-full.left-0.z-20,
div[role='dialog'] {
     background-color: var(--surface-tertiary);
}

.dark .dark\:bg-gray-700,
.bg-token-surface-tertiary,
.dark .dark\:bg-gray-800\/90,
.hover\:bg-token-sidebar-surface-secondary:hover,
div.relative.flex.w-full.flex-col:not(.overflow-hidden),
div.flex.flex-col.pt-2,
.dark .dark\:radix-state-active\:bg-token-surface-tertiary[data-state='active'],
.dark .dark\:hover\:bg-\[\#494A54\]:hover,
button[type='button'][role='switch'][aria-checked='false'],
.bg-token-surface-secondary {
     background-color: var(--surface-primary);
}

.bg-token-surface-primary,
.dark .dark\:text-gray-300,
div.flex-shrink-0.overflow-x-hidden.bg-token-sidebar-surface-primary {
     background-color: var(--surface-secondary);
}

.dark .dark\:from-gray-700 {
     --tw-gradient-from: var(--surface-primary);
     --tw-gradient-to: var(--surface-secondary);
}

.group:hover .group-hover\:from-token-sidebar-surface-secondary,
.from-token-sidebar-surface-secondary {
     --tw-gradient-from: var(--sidebar-surface-secondary) var(--tw-gradient-from-position);
     --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
     --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

div.relative.flex.w-full.flex-col:not(.overflow-hidden) {
     padding: 10px;
}

div.flex.flex-col.pt-2  {
     margin: 10px;
     background-color: var(--surface-secondary);
}

nav div.flex.flex-col.pt-2 {
     padding: 0;
     background-color: var(--surface-primary);
}

.to-transparent {
     --tw-gradient-to: transparent var(--gray-900);
}

.btn-danger {
     color: rgb(28, 32, 42);
     background-color: rgb(235, 107, 107);
}

body,
.bg-token-sidebar-surface-secondary .pr-2,
div.flex.flex-col.pt-2,
div.relative.flex.w-full.flex-col:not(.overflow-hidden),
div.scrollbar-trigger.relative.h-full.w-full,
.rounded-lg,
.rounded-xl,
.btn,
button,
div.mb-4.flex.items-start.justify-start,
div.flex.w-full.gap-2.items-center.justify-center,
.btn-primary,
.btn-disabled,
div.flex.grow.justify-center.bg-white,
pre,
div[role='menuitem'],
.border-orange-500,
textarea,
a[as='button'],
div.rounded-md.bg-token-main-surface-secondary.text-token-text-secondary.text-sm,
div.sticky.top-0.mb-1\.5.flex.items-center.justify-between.z-10.h-14.p-2.font-semibold.bg-token-main-surface-primary {
     border-radius: 20px;
}

.rounded-2xl {
     border-radius: 30px;
}

div.scrollbar-trigger.relative.h-full.w-full {
     overflow: hidden;
}

div.flex.flex-1.text-base.mx-auto {
     max-width: 63rem;
}

.xl\:max-w-3xl {
     max-width: 58rem;
}

.prose :where(ol):not(:where([class~='not-prose'] *)) {
     padding-left: 2em;
}

div.relative.flex.w-full.flex-col:not(.overflow-hidden) {
     padding: 10px;
}

div.flex.flex-col.pt-2 {
     padding: 0;
}
