:root {
	--primary: rgb(137, 162, 231);
	--secondary: rgb(38, 44, 60);
	--onSurface: #1a1a1a;
	--surface: #090909;
	--dimmedSurface: #0d0d0d;
	--bodySurface: #000000;

	--text-primary: #ffffff;
	--text-secondary: rgb(199, 199, 199);
	--dimmed: #666666;
	--gray: #888888;

	--inActive: #141218;
	--danger: rgb(176, 79, 79);
}
