.dark {
     --surface-primary: rgb(38, 44, 60);
     --surface-secondary: rgb(28, 32, 42);
     --surface-tertiary: rgb(19, 22, 30);

     --main-surface-secondary: var(--surface-secondary);
     --main-surface-tertiary: var(--surface-secondary);
     --sidebar-surface-secondary: var(--surface-secondary);
     --popover-surface-primary: var(--surface-tertiary);
}

body {
     background: var(--surface-tertiary);
     border-radius: 20px;
}

main {
     border-top-left-radius: 24px;
     border-bottom-left-radius: 24px;

     background-color: var(--surface-secondary);
}

div.relative.flex.w-full.flex-col:not(.overflow-hidden) {
     border-radius: 20px;
     padding: 10px;
     background-color: var(--surface-primary);
}

div.flex.flex-col.pt-2 {
     border-radius: 20px;
     padding: 0;
     background-color: var(--surface-primary);
}

.dark .dark\:radix-state-active\:bg-token-surface-tertiary[data-state='active'],
.dark .dark\:hover\:bg-\[\#494A54\]:hover,
button[type='button'][role='switch'][aria-checked='false'],
.bg-token-surface-secondary,
.dark .dark\:bg-gray-700,
.bg-token-surface-tertiary,
.dark .dark\:bg-gray-800\/90 {
     background-color: var(--surface-primary);
}

.dark .dark\:bg-gray-800,
.dark .dark\:bg-gray-900,
.dark .dark\:text-gray-300,
div.sticky.bg-token-main-surface-primary,
.bg-token-surface-primary,
.bg-token-main-surface-tertiary {
     background-color: var(--surface-secondary);
}

nav,
div.sticky,
h3.font-medium.text-ellipsis.overflow-hidden,
div.absolute.bottom-full.left-0.z-20,
.bg-token-main-surface-primary,
div[role='dialog'],
.dark .btn-neutral {
     background-color: var(--surface-tertiary);
}

.dark .dark\:from-gray-700 {
     --tw-gradient-from: var(--surface-primary);
     --tw-gradient-to: var(--surface-secondary);
}

.group:hover .group-hover\:from-token-sidebar-surface-secondary,
.from-token-sidebar-surface-secondary {
     --tw-gradient-from: var(--sidebar-surface-secondary) var(--tw-gradient-from-position);
     --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
     --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.bg-token-sidebar-surface-secondary .pr-2 {
     background: var(--surface-secondary);
     border-radius: 20px;
}

pre div.bg-gray-950 {
     background-color: black;
}

.to-transparent {
     --tw-gradient-to: transparent transparent;
}

div.relative.p-1.rounded-sm.h-9,
.btn-primary,
.radix-state-checked\:bg-green-600[data-state='checked'] {
     background-color: rgb(137, 162, 231);
}

.btn-danger {
     color: rgb(28, 32, 42);
     background-color: rgb(235, 107, 107);
}

.rounded-lg,
.rounded-xl,
.btn,
button,
div.mb-4.flex.items-start.justify-start,
div.flex.w-full.gap-2.items-center.justify-center,
.btn-primary,
.btn-disabled,
div.flex.grow.justify-center.bg-white,
pre,
div[role='menuitem'],
.border-orange-500,
textarea,
a[as='button'] {
     border-radius: 20px;
}

.rounded-2xl {
     border-radius: 30px;
}

div.flex.flex-1.text-base.mx-auto {
     max-width: 63rem;
}

.xl\:max-w-3xl {
     max-width: 58rem;
}

.prose :where(ol):not(:where([class~='not-prose'] *)) {
     padding-left: 2em;
}
