* {
    scrollbar-color: #cfc9c5 transparent;
    scrollbar-width: thin;
}

html,
body,
ytd-app {
    background-color: black;
}

html[dark],
[dark] {
    --yt-spec-menu-background: #181818;
}

/* disable ambient mode */
#cinematics {
    canvas {
        display: none;
    }
}

#shorts-cinematic-container {
    canvas {
        display: none;
    }
}

ytd-masthead[frosted-glass='with-chipbar'] #background.ytd-masthead,
ytd-masthead[frosted-glass='without-chipbar'] #background.ytd-masthead {
    background: rgba(0, 0, 0, 0.8);
}

ytd-watch-flexy[full-bleed-player] #secondary.ytd-watch-flexy {
    margin-top: 44px;
}

ytd-comment-thread-renderer {
    border-radius: 14px;
    padding: 10px;
    display: block;
    margin-bottom: var(--ytd-comment-thread-margin-bottom, 16px);
}

ytd-comment-thread-renderer:hover {
    background-color: var(--yt-spec-additive-background);
}

ytd-compact-video-renderer {
    border-radius: 10px;
    padding: 2px;
}

ytd-compact-video-renderer:hover {
    background-color: var(--yt-spec-additive-background);
}

html[dark],
[dark] {
    --yt-spec-base-background: #000000;
}

ytd-watch-flexy[flexy][is-two-columns_][is-four-three-to-sixteen-nine-video_]:not(
        [full-bleed-player][full-bleed-no-max-width-columns]
    ):not([fixed-panels])
    #primary.ytd-watch-flexy {
    max-width: 100%;
}

tp-yt-app-drawer.ytd-app[persistent] {
    height: 134vh;
}
